<h1>Sección Mascotas</h1>
<div class="perfilContainer" style="background-color: antiquewhite; width: 700px;">
<button class="btn btn-dark" (click)="this.visible = !this.visible">Agregar Mascota</button>
<app-agregar-mascota *ngIf=this.visible></app-agregar-mascota>
<h2>Listado de mascotas</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Especie</th>
      <th scope="col">Raza</th>
      <th scope="col">Sexo</th>
      <th scope="col">Color</th>
      <th scope="col">Senas</th>
      <th scope="col">Nacimiento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mascota of mascotas">
      <th>{{mascota.nombre}}</th>
      <th>{{mascota.especie}}</th>
      <th>{{mascota.raza}}</th>
      <th>{{mascota.sexo}}</th>
      <th>{{mascota.color}}</th>
      <th>{{mascota.senas}}</th>
      <th>{{mascota.nacimiento}}</th>
    </tr>
  </tbody>
</table>
</div>
