<h1>Sección Mascotas</h1>
<div class="perfilContainer" style="background-color: antiquewhite; width: 700px;">
  <button class="btn btn-dark" (click)="this.mostrarAgregar = !this.mostrarAgregar">Agregar Mascota</button>
  <form *ngIf="this.mostrarAgregar" [formGroup]="formMascota" (ngSubmit)="agregarMascota()">
    <div class="row">
      <div class="col">
        <label for="nombre">Nombre de mascota</label>
        <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
      </div>
      <div class="col">
        <label for="sexo">Sexo</label>
        <input type="text" class="form-control" id="sexo" name="sexo" formControlName="sexo">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="especie">Especie</label>
        <input type="text" class="form-control" id="especie" name="especie" formControlName="especie">
      </div>
      <div class="col">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" name="color" formControlName="color">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="raza">Raza</label>
        <input type="text" class="form-control" id="raza" name="raza" formControlName="raza">
      </div>
      <div class="col">
        <label for="senas">Senas</label>
        <input type="text" class="form-control" id="senas" name="senas" formControlName="senas">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="nacimiento">Nacimiento</label>
        <input type="date" class="form-control" id="nacimiento" name="nacimiento" formControlName="nacimiento">
      </div>
      <button type="submit" [disabled]="!formMascota.valid" style="margin-top: 30px;"
        class="btn btn-primary">Agregar</button>
    </div>
  </form>
  <h2>Listado de mascotas</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Especie</th>
        <th scope="col">Raza</th>
        <th scope="col">Sexo</th>
        <th scope="col">Color</th>
        <th scope="col">Senas</th>
        <th scope="col">Nacimiento</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mascota of mascotas">
        <td>{{mascota.nombre}}</td>
        <td>{{mascota.especie}}</td>
        <td>{{mascota.raza}}</td>
        <td>{{mascota.sexo}}</td>
        <td>{{mascota.color}}</td>
        <td>{{mascota.senas}}</td>
        <td>{{mascota.nacimiento | date}}</td>
        <td>
          <nav class="buttons">
            <button class="btn btn-primary"
              style="width: 50px; height: 50px;background-image: url(../../assets/images/lapiz.png); background-size: cover;">
            </button>
            <button class="btn btn-primary"
              style="width: 50px; height: 50px;background-image: url(../../assets/images/basura.png); background-size: cover;"></button>
          </nav>
        </td>
      </tr>
    </tbody>
  </table>
</div>
