<form [formGroup]="form" (ngSubmit)="editarDueno()">
  <div class="row">
    <div class="col">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" value="{{nombre}}" name="nombre" formControlName="nombre">
    </div>
    <div class="col">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" value="{{apellido}}" name="apellido" formControlName="apellido">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="telefono">telefono</label>
      <input type="number" class="form-control" value="{{telefono}}" id="telefono" name="telefono" formControlName="telefono">
    </div>
    <div class="col">
      <label for="email">email</label>
      <input type="text" class="form-control" id="email" value="{{email}}" name="email" formControlName="email">
    </div>
  </div>
  <button type="submit" style="margin-top: 30px;" class="btn btn-primary">Agregar</button>
</form>
