<div class="container mb-4 mt-4" >
  <h2>Nuevo Dueño</h2>
  <form (ngSubmit)="altaDueno()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input  type="text" class="form-control" placeholder="ingrese su nombre" name="nombre" [(ngModel)]="dueno.nombre">
    </div>
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" class="form-control" placeholder="ingrese su apellido" name="apellido" [(ngModel)]="dueno.apellido">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" placeholder="ingrese correo electrónico" name="email" [(ngModel)]="dueno.email">
    </div>
    <div class="form-group">
      <label for="pwd">Contraseña:</label>
      <input type="password" class="form-control" placeholder="ingrese su clave" name="password" [(ngModel)]="dueno.password">
    </div>
    <div class="form-group">
      <label for="telefono">Telefono:</label>
      <input type="number" class="form-control" placeholder="ingrese su telefono" name="telefono" [(ngModel)]="dueno.telefono">
    </div>
    <button type="submit"  class="btn btn-primary">Registrarse</button>
  </form>
</div>
